.default {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Montserrat';
}

.default:hover {
  cursor: pointer;
}

.primary {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  background-color: var(--backgroundBaseColor);
}

.primary:hover,
.primary:focus {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--primaryColorLighter);
  transition: all 0.05s ease-in-out;
}

.secondary {
  color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.secondary:hover,
.secondary:focus {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--secondaryColorLight);
  transition: all 0.05s ease-in-out;
}

.tertiary {
  color: var(--textBaseColor);
  border: 1px solid var(--errorAlertColor);
  background-color: var(--errorAlertColor);
}

.tertiary:hover,
.tertiary:focus {
  cursor: pointer;
  text-decoration: underline;
  background-color: #f13312f0;
  transition: all 0.05s ease-in-out;
}

.noBorderPrimary {
  background-color: transparent;
  color: var(--primaryColor);
  border: none;
}

.noBorderPrimary:hover,
.noBorderPrimary:focus {
  cursor: pointer;
  text-decoration: underline;
}

.noBorderSecondary {
  background-color: transparent;
  color: var(--secondaryColor);
  border: none;
}

.noBorderSecondary:hover,
.noBorderSecondary:focus {
  cursor: pointer;
  text-decoration: underline;
}

.disabled {
  border: 1px solid;
}

.disabled:hover {
  cursor: not-allowed;
}

.icon {
  margin: 5px;
  padding: 15px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
}

.img {
  display: block;
  width: 20px;
  height: 20px;
}

.icon:hover,
.icon:focus {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.hidden {
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  .primary {
    color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    background-color: var(--primaryColorLight);
  }

  .secondary:focus,
  .secondary:hover {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
  }

  .icon {
    background-color: transparent;
  }
}
