.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  background: rgb(75, 76, 125);
  background: linear-gradient(0deg, rgba(75, 76, 125, 1) 24%, rgba(55, 56, 103, 1) 64%);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeContainer {
  display: flex;
}

.logoContainer {
  display: flex;
}

.welcomeTitle {
  font-weight: 300;
  font-size: 40px;
}

.logoLanding {
  width: 400px;
}

.welcomeSubTitle {
  display: inline;
  font-weight: 300;
}

.welcomeParagraph {
  width: 60ch;
}

.initialSectionImage {
  width: 10vw;
}
