.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 5%;
}

.employeesTableContainer {
  width: 100%;
  overflow-x: hidden;
  height: 400px;
  padding-inline: 30px;
}
