.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}
.form {
  width: fit-content;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px #00000033;
}
