.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    min-width: 30vw;
    background-color: #fff;
    border: solid 1px #373867;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.153);
  }

.heading {
    color: #373867;
}

.top__close__button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #373867;
}

.top__close__button:hover,
.top__close__button:focus {
    cursor: pointer;
    transform: scale(1.10);
    transition: all .2s ease-in-out;
}

.confirm__button {
    margin: 1rem 0 2rem 0.50rem;
    padding: 0.50rem 0.80rem;
    font-weight: 500;
    color: #fff;
    background-color: #F13312;
    border: 1px solid #F13312;
    border-radius: 5px;
}

.confirm__button:hover,
.confirm__button:focus {
    cursor: pointer;
    transform: scale(1.015);
    transition: all .2s ease-in-out;
}

.bottom__close__button {
    margin-left: 50%;
    padding: 0.50rem 0.80rem;
    font-weight: 500;
    background-color: transparent;
    color: #373867;
    border: 1px solid #373867;
    border-radius: 5px;
}

.bottom__close__button:hover,
.bottom__close__button:focus {
    cursor: pointer;
    transform: scale(1.015);
    transition: all .2s ease-in-out;
}

.content {
    color: #373867;
    max-width: 35ch;
}

.addButton{
    background-color: #F13312;
}