.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 300px;
  color: #373867;
}

.img {
  width: 55%;
}

.text {
  color: #f13312;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 25px;
}
