.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  width: 50%;
  height: 300px;
  color: var(--primaryColor);
}

.img {
  width: 55%;
  padding: 15px;
}

.text {
  color: var(--errorAlertColor);
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 25px;
}
