.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}

.table {
  display: table;
  justify-content: flex-start;
  min-height: 340px;
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}