.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 350px;
  width: 100%;
}

.table {
  border: 1px solid #d7d7e1;
  border-spacing: 0;
  border-collapse: collapse;
  color: #373867;
  width: 100%;
  /* min-height: 300px; */
}

.thead {
  background-color: #3738671a;
  line-height: 2.5;
  text-align: left;
  white-space: nowrap;
}

.th {
  padding-inline: 20px;
  max-height: 42px;
}

.tr {
  display: flex;
  padding: 10px 10px;
  border: solid 0.5px #eeeeee;
  border-collapse: collapse;
  text-align: start;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #373867;
}

.addButton {
  align-self: flex-start;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  color: #373867;
}

.navButton {
  border-radius: 100vw;
  background-color: #aace9b;
  padding: 12px;
}
