.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divContainer {
  width: 100%;
}

.employeesContainer {
  width: 100%;
  min-height: 50%;
  padding: 5px;
  margin-block: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #373867;
  font-size: 16px;
  color: #373867;
  background-color: #fff;
  font-weight: 400;
  line-height: 2;
}

.tableContainer {
  width: 100%;
  overflow-x: hidden;
  height: 264px;
  margin: 36px 0 20px 0;
  padding: 0;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.btnAssign {
  width: 50%;
  height: 44px;
  margin-top: 25px;
}
