.container {
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px #00000033;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 10px;
  border-bottom: 1px solid #000;
}

td {
  padding: 10px;
  border-bottom: 1px solid #000;
}

p {
  margin: 0;
}
.btnAdd{
  padding: 10px;
  border-radius: 20px;
  background-color: #131c0c;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition-duration: .5s;
}
.btnAdd:hover {
  background-color: #373867;
  border-radius: 5px;
  color: #fff;
}
