.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error{
  min-height: 19px;
  color: var(--errorAlertColor)
}

@media (prefers-color-scheme: dark) {
  .error{
    color: var(--textBaseColor)
  }
}
