.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
}

.loginContainer {
  display: flex;
  padding: 0.25rem 0.25rem 5rem 0.25rem;
  border-radius: 50% 70% / 20%;
  background: linear-gradient(to top, #aace9bb1, #aace9b3f);
}

.loginForm {
  margin-top: 130px !important;
  flex: 2;
  border: none !important;
  color: var(--primaryColor);
  background-color: transparent !important;
  text-align: center;
  white-space: pre-line !important;
}

.error{
  margin-top: 0;
  min-height: 19px;
  color: var(--errorAlertColor)
}

.errorModal {
  display: flex;
  flex-direction: column;
}

.loginImage {
  flex: 2;
  max-width: 50%;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  .error{
    color: var(--textBaseColor)
  }

  .loginForm {
    background-color: transparent !important;
  }

  .loginContainer {
    border-color: var(--secondaryColor);
    background: linear-gradient(to bottom, #41466c, #1e1f38);
  }
}
