.container {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 40vw;
    background-color: #fff;
    border: solid 1px #373867;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

.heading {
    color: #373867;
}

.topCloseButton {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #373867;
}

.topCloseButton:hover,
.topCloseButton:focus {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.10);
    transition: all .2s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: end;
}

.content {
    text-align: center;
    color: #373867;
}