.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  z-index: 4;
  border: solid 1px var(--primaryColorLight);
  border-radius: 10px;
  box-shadow: 0 0 0 500vmax #00000080;
  background-color: var(--backgroundBaseColor);;
  color: var(--primaryColor);
  line-height: 1.5;
}


.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondaryColorLight);
}

.headerSuccess {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primaryColorLight);
}

.title {
  margin: 6px 50px 0 25px;
  font-size: 20px;
  font-weight: 600;
}

.message {
  margin: 30px 50px 30px 25px;
  font-size: 18px;
}

.buttonsContainer {
  display: flex;
  align-self: flex-end;
}

.success {
  background-color: var(--secondaryColor);
  border: 1px solid var(--successAlertColor);
  color: var(--primaryColor);
}

.error {
  background-color: var(--errorAlertColor);
  border: 1px solid var(--errorAlertColor);
  color: var(--textBaseColor);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topCloseButton:hover,
.topCloseButton:focus {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: left;
  color: var(--primaryColor);
}

@media (prefers-color-scheme: dark) {
  .container {
    border: 1px solid var(--secondaryColorLight);
    background-color: var(--primaryColor);
  }
  .confirm {
    border-color: 1px solid var(--secondaryColorLight);
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
  }

  .success{
    background-color: var(--primaryColor)
  }

  .content {
    color: var(--secondaryColor);
  }

  .headerSuccess {
    border-bottom: 1px solid var(--secondaryColor);
  }
}
