.container {
  box-shadow: 0 0 0 500vmax rgb(0 0 0 / 0.5);
  z-index: 4;
}

.title {
  margin: 0 50px 0 0;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border: solid 1px var(--primaryColor);
  border-radius: 5px;
  color: var(--primaryColor);
  line-height: 1.5;
}

.success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  min-height: 40px;
  padding: 4px 24px;
  background-color: var(--secondaryColor);
  border: 1px solid var(--successAlertColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: var(--primaryColor);
  line-height: 1.75;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  min-height: 40px;
  padding: 4px 24px;
  background-color: var(--errorAlertColor);
  border: 1px solid var(--errorAlertColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.75;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topCloseButton:hover,
.topCloseButton:focus {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: left;
  color: var(--primaryColor);
}

@media (prefers-color-scheme: dark) {
  .confirm {
    background-color: var(--primaryColor);
    border-color: 1px solid var(--secondaryColorLight);
    color: var(--secondaryColor);
  }

  .success{
    background-color: var(--primaryColor)
  }

  .content {
    color: var(--secondaryColor);
  }
}
