.tr{
  background-color: var(--secondaryColorLighter);
}

.tr:hover {
  background-color: var(--secondaryColorLight);
}

.td {
  padding: 10px;
  border-bottom: 1px solid #d7d7e1;
  border-top: 1px solid #d7d7e1;
  max-width: 25ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  color: var(--successAlertColor);
}

.inactive {
  color: var(--errorAlertColor);
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .tr{
    background-color: var(--primaryColorLight);
  }

  .td {
    background-color: var(--primaryColorLight);
    border-color: var(--secondaryColor)
  }
}